################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bcs-server-main/.vs/bcs-server-main
/bcs-server-main/x64/*
/bcs-server-main/x64d
/bcs-server-main/Debug
/bcs-server-main/Debugd
.vs
/bcs-server-main/html/json/measurements.json